  #landing {
  background-image: url("../ip2/assets/backgrounds/landing.jpg");
  background-size: 100%;
  padding-top: 80px;
}

.welcome {
  color: white;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 70px;
  font-family: 'Quattrocento Sans', sans-serif;
}

#breakfast {
  background-image: url("../ip2/assets/foodtop/breakfast.jpg");
  background-size: 100%;
  padding: 70px;
  color: white;
  font-size: 40px;
}

#lunch {
  background-image: url("../ip2/assets/foodtop/lunch.jpg");
  background-size: 100%;
  padding: 70px;
  color: white;
  font-size: 40px;
}

#dinner {
  background-image: url("../ip2/assets/foodtop/dinner.jpg");
  background-size: 100%;
  padding: 70px;
  color: white;
  font-size: 40px;
}

#wrap1 {
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin-left: 150px;
  margin-top: 100px;
}

#wrap2 {
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 50px;
  font-size: 15px;
  text-align: left;
}

#wrap3 {
  font-size: 15px;
  padding-left: 200px;
  padding-right: 80px;
  text-align: right;
  padding-top: 100px;
}

#wrap4 {
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 100px;
  float: right;
}

#platefood {
  background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
  background-size: 100%;
  padding-top: 100px;
  padding-bottom: 300px;
}

#subscribe {
  background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
  background-size: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

#email {
  width: 350px;
  color: inherit;
  background-color: lightgrey;
  opacity: 0.3;
  height: 45px;
  border: 0px;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

#button {
  width: 200px;
  background-color: #F15A29;
  color: white;
  height: 45px;
  border-color: #F15A29;
  font-size: 20px;
  margin-top: 20px;
}

.footer {
  background-color: #F15A29;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.testimony {
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin: 80px;
}

#part4 {
  margin-top: 10%;
  background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
  background-size: cover;
  height: 600px;
}

.optionbackground {
  background-color: white;
  margin: 10% 0% 0% 0%;
  text-align: center;
}

.optionbackground .col-md-3 {
  background-color: #E3E3E3;
  color: #AEAEAE;
  padding: 0;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.optionbackground .active {
  background-color: white;
  color: #F15B29;
  border-bottom: none;
}

.optionbackground .col-md-3 :hover:not(.active) {
  background-color: white;
  cursor: pointer;
}

.optionbackground h3 {
  font-weight: bold;
  margin: 0;
  padding: 5% 0 5% 0;
}

.optionbackground p {
  font-size: 120%;
  color: #F15B29;
  padding-top: 5px;
}

.optionbackground .col-md-4 {
  padding: 4% 0% 2% 0%;
  padding-left: -10;
